<div class="row" ng-if="(stage === CATALOGUE_STAGES.PRODUCTS && productLevel3Id)" ng-controller="sellOnlineI18nController">
    <div class="col-md-12 form-group">
        <span>
            <span>Language versions - </span>
            <span ng-repeat="language in availableLanguages">
                <a class="cursor" ng-bind="language.displayName" ng-click="selectLanguage(language)" ng-if="selectedLanguage.languageId !== language.languageId"></a>
                <strong ng-bind="language.displayName" ng-if="selectedLanguage.languageId === language.languageId"></strong>
                <span class="text-dim" ng-if="!$last"> | </span>
            </span>
        </span>
    </div>
</div>


<form name="productForm" role="form"  ng-submit="saveProductDetails()">
    <!-- productTitle,orderType ,size,shape,Products -->
    <div class="row form-group">
        <div class="col-md-4">
            <label for="productLine">Product Line</label>
            <select class="form-control" id="productLine" 
                ng-if="!productLevel3Id"
                ng-options="productLine as productLine.productLevel1Title for productLine in myProductLineList track by productLine.productLevel1Id"
                ng-model="catalogueProduct.selectedProductLine" 
                ng-change="onProductLineSelection()">
            </select>
            <input type="text" id="productLine" class="form-control" ng-value="catalogueProduct.productLevel1Title" disabled ng-if="productLevel3Id">
        </div>
        <div class="col-md-2" ng-if="!productLevel3Id">
            <label for="productLine">&nbsp;</label>
            <div>
                <a class="cursor action-icon-link">
                    <i class="md md-refresh" title="Refresh product line list" ng-click="refreshProductLineList()"></i>
                </a>
                <a class="cursor action-icon-link" ng-click="openEditProductLineForm()" ng-if="catalogueProduct.selectedProductLine.productLevel1Id">
                    <i class="md-mode-edit" title="Edit product line"></i>
                </a>
                <a class="cursor action-icon-link" ng-click="openAddProductLineForm()">
                    <i class="md md-add-circle" title="Add product line"></i>
                </a>
            </div>
        </div>        
    </div>
    <div class="row form-group" ng-if="!productLevel3Id && catalogue.variantsList && catalogue.variantsList.length > 0">
        <div class="col-md-4">
            <label for="productVariant">Product Variant</label>   
            <select class="form-control" id="productVariant" ng-options="variant as variant.productLevel2Title for variant in catalogue.variantsList track by variant.productLevel2Id"
                ng-model="catalogueProduct.variant" ng-change="getSkuDataOfSelectedProduct(catalogueProduct.selectedProductLine.baseProduct.productId)">
            </select>
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>

            <div>
                <a class="cursor action-icon-link">
                    <i class="md md-refresh" title="Refresh Variants list" ng-click="refreshVariantList()"></i>
                </a>
                <a class="cursor action-icon-link" ng-click="openEditVariantForm()" ng-if="catalogueProduct.variant.productLevel2Id">
                    <i class="md-mode-edit" title="Edit variant"></i>
                </a>
                <a class="cursor action-icon-link" ng-click="openAddVariantForm()">
                    <i class="md md-add-circle" title="Add variant"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row form-group" ng-if="productLevel3Id">
        <div class="col-md-4">
            <label for="productVariant">Product Variant</label>
    
            <input type="text" id="productLine" class="form-control" ng-value="catalogueProduct.productLevel2Title" disabled ng-if="productLevel3Id">
        </div>
    </div>    
    <div ng-if="productLevel3Id || (catalogueProduct.variant && catalogueProduct.variant.productLevel2Id)">
        
        <div class="row form-group">
            <div class="col-md-4">
                <label for="shg">Product title <span class="text-danger ml3">*</span></label>
                
                <!-- Dummy for language version -->
                <input type="productTitle" id="productTitleEnglish" class="form-control mb4" 
                    ng-if="selectedLanguage.languageId !== 1"
                    ng-value="productEnglishLanguageVersion.productLevel3Title" 
                    placeholder="If the title needs to be different from parent variant" disabled readonly>

                <input type="productTitle" id="productTitle" class="form-control" ng-model="catalogueProduct.productLevel3Title" placeholder="If the title needs to be different from parent variant" required>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label for="orderType">Order Type</label>

                <!-- Dummy for language version -->
                <input type="text" id="orderTypeEnglish" class="form-control mb4" 
                    ng-if="selectedLanguage.languageId !== 1"
                    ng-value="productEnglishLanguageVersion.orderType" 
                    placeholder="Separating this from make to order" disabled readonly>

                <input type="text" id="orderType" class="form-control" ng-model="catalogueProduct.orderType" placeholder="Separating this from make to order">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <label for="specification">Specifications</label>
                <!-- <div class="field-description">SKU specifications</div> -->

                <!-- Dummy for language version -->
                <textarea id="specificationEnglish" class="form-control mb4" rows="3" 
                    ng-if="selectedLanguage.languageId !== 1"
                    ng-model="productEnglishLanguageVersion.skuSpecifications"
                    placeholder="SKU specifications" readonly></textarea>

                <textarea id="specification" class="form-control" rows="3" ng-model="catalogueProduct.skuSpecifications"
                    placeholder="SKU specifications"></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <label for="specification">Terms and conditions</label>

                <!-- Dummy for language version -->
                <textarea id="termsAndConditions" class="form-control mb4" rows="3" 
                    ng-if="selectedLanguage.languageId !== 1"
                    ng-model="productEnglishLanguageVersion.termsAndConditions"
                    placeholder="Terms and conditions" readonly></textarea>

                <textarea id="specification" class="form-control" rows="3" ng-model="catalogueProduct.termsAndConditions"
                    placeholder="Terms and conditions"></textarea>
            </div>
        </div>

        <!-- custom order -->
        <div class="row form-group">
            <div class="col-md-12">
                <div>
                    <label >Custom orders</label>
                </div>                
                <div class="col-md-4">
                        <label for="ordertitle">Title</label>
                    <input type="text" id="ordertitle" class="form-control" ng-model="customerOrderObj.title" placeholder="Title">
                </div>
                <div class="col-md-7">
                    <label for="orderdescription">Description</label>
                    <textarea type="text" id="orderdescription" class="form-control" style="height: 28px" ng-model="customerOrderObj.description" placeholder="Description"></textarea>
                </div>
                <div class="col-md-1 mt20">
                    <button type="button" class="form-control btn btn-default round-btn round-fav-btn" ng-click="addCustomOrders();">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="row scrollable-tags-wrapper" ng-if="catalogueProduct.customOrders">
                <div class="col-md-12 program-tags tags-wrapper">
                    <div ng-repeat="customOrderEach in catalogueProduct.customOrders track by $index" class="chip">
                        <span ng-bind="customOrderEach.title+' - '+customOrderEach.description"></span>
                        <span ng-click="catalogueProduct.customOrders.splice($index,1);">
                            <i class="glyphicon glyphicon-remove cursor text-danger"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group mt10" ng-if="SmartElem.colour">
            <div class="col-md-6">
                <label for="color">Color</label>
                <input type="text" id="color" class="form-control" ng-model="catalogueProduct.smartElements.color.value" placeholder="Enter color">
            </div>
        </div>
        <div class="row form-group mt10" ng-if="SmartElem.weight">
            <div class="col-md-6">
                <label for="weight">Weight</label>
                <input type="number" id="weight" class="form-control" ng-model="catalogueProduct.smartElements.weight.value" placeholder="enter weight value">
            </div>
            <div class="col-md-6" style="margin-top: 18px;">
                <select class="form-control" id="productVariant" ng-options="variant for variant in SmartElem.weight"
                ng-model="catalogueProduct.smartElements.weight.unit" ng-init="catalogueProduct.smartElements.weight.unit = catalogueProduct.smartElements.weight.unit || SmartElem.weight[0]">
                </select>
            </div>
        </div>
        <div class="row form-group mt10" ng-if="SmartElem.itemCount">
            <div class="col-md-6">
                <label for="weight">Item count</label>
                <input type="text" id="weight" class="form-control" ng-model="smartTagsFinal.itemCount" placeholder="enter weight value">
            </div>
        </div>
        <div class="row form-group mt10" ng-if="SmartElem.sizeByNumber">
            <div class="col-md-6">
                <label for="sizeByNumber">Size by number</label>
                <select class="form-control" id="sizeByNumber" ng-options="variant for variant in SmartElem.sizeByNumber"
                ng-model="catalogueProduct.smartElements.sizeByNumber.value" ng-init="catalogueProduct.smartElements.sizeByNumber.value = catalogueProduct.smartElements.sizeByNumber.value + '' || SmartElem.sizeByNumber[0]">
                </select>
            </div>
        </div>
        <div class="row form-group mt10" ng-if="SmartElem.sizeByName">
            <div class="col-md-6">
                <label for="sizeByName">Size by name</label>
                <select class="form-control" id="sizeByName" ng-options="variant for variant in SmartElem.sizeByName"
                ng-model="catalogueProduct.smartElements.sizeByName.value" ng-init="catalogueProduct.smartElements.sizeByName.value = catalogueProduct.smartElements.sizeByName.value || SmartElem.sizeByName[0]">
                </select>
            </div>
        </div>

        <!-- Removed from smart elements v2 -->
        <!-- <div class="row form-group mt10" ng-if="SmartElem.packagingType">
            <div class="col-md-6">
                <label for="packagingType">Packaging type</label>
                <select class="form-control" id="packagingType" ng-options="variant for variant in SmartElem.packagingType"
                ng-model="catalogueProduct.smartElements.packagingType" ng-init="catalogueProduct.smartElements.packagingType = catalogueProduct.smartElements.packagingType || SmartElem.packagingType[0]">
                </select>
            </div>
        </div> -->
        
        <div class="row form-group mt10" ng-if="SmartElem.shape">
            <div class="col-md-6">
                <label for="shape">Shape</label>
                <select class="form-control" id="shape" ng-options="variant for variant in SmartElem.shape"
                ng-model="catalogueProduct.smartElements.shape.name" ng-init="catalogueProduct.smartElements.shape = catalogueProduct.smartElements.shape || SmartElem.shape[0]">
                </select>
            </div>
        </div>

        <!-- Removed from smart elements v2 -->
        <!-- <div class="row form-group mt10" ng-if="SmartElem.patternAndDesign">
            <div class="col-md-6">
                <label for="patternAndDesign">Pattern and design</label>
                <select class="form-control" id="patternAndDesign" ng-options="variant for variant in SmartElem.patternAndDesign"
                ng-model="catalogueProduct.smartElements.patternAndDesign" ng-init="catalogueProduct.smartElements.patternAndDesign = catalogueProduct.smartElements.patternAndDesign || SmartElem.patternAndDesign[0]">
                </select>
            </div>
        </div>
        <div class="row form-group mt10" ng-if="SmartElem.itemType">
            <div class="col-md-6">
                <label for="itemType">Item type</label>
                <select class="form-control" id="itemType" ng-options="variant for variant in SmartElem.itemType"
                ng-model="catalogueProduct.smartElements.itemType" ng-init="catalogueProduct.smartElements.itemType = catalogueProduct.smartElements.itemType || SmartElem.itemType[0]">
                </select>
            </div>
        </div>
        <div class="row form-group mt10" ng-if="SmartElem.materialAndFabric">
            <div class="col-md-6">
                <label for="materialAndFabric">Material and fabric</label>
                <select class="form-control" id="materialAndFabric" ng-options="variant for variant in SmartElem.materialAndFabric"
                ng-model="catalogueProduct.smartElements.materialAndFabric" ng-init="catalogueProduct.smartElements.materialAndFabric = catalogueProduct.smartElements.materialAndFabric || SmartElem.materialAndFabric[0]">
                </select>
            </div>
        </div> -->
        <div class="row form-group mt10" ng-if="SmartElem.dimension">
            <div class="col-md-6">
            <b><span>Dimension</span></b>
                <div class="col-md-12" ng-if="SmartElem.dimension.height">
                    <label for="dheight">Height</label>
                    <input type="text" id="dheight" class="form-control" ng-model="catalogueProduct.smartElements.dimension.height" placeholder="enter height value">
                </div>
                <div class="col-md-12" ng-if="SmartElem.dimension.width">
                    <label for="dwidth">width</label>
                    <input type="text" id="dwidth" class="form-control" ng-model="catalogueProduct.smartElements.dimension.width" placeholder="enter width value">
                </div>
                <div class="col-md-12" ng-if="SmartElem.dimension.length">
                    <label for="dlength">Length</label>
                    <input type="text" id="dlength" class="form-control" ng-model="catalogueProduct.smartElements.dimension.length" placeholder="enter length value">
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 35px;">
                <select class="form-control" id="dunits" ng-options="variant for variant in SmartElem.dimension.units"
                ng-model="catalogueProduct.smartElements.dimension.unit" ng-init="catalogueProduct.smartElements.dimension.unit = catalogueProduct.smartElements.dimension.unit || SmartElem.dimension.units[0]">
                </select>
            </div>
        </div>
        <div class="row form-group mt10" ng-if="SmartElem.packagingDimension">
            <div class="col-md-6">
            <b><span>Packaging dimension</span></b>
                <div class="col-md-12" ng-if="SmartElem.packagingDimension.height">
                    <label for="pdheight">Height</label>
                    <input type="text" id="pdheight" class="form-control" ng-model="catalogueProduct.smartElements.packagingDimension.height" placeholder="enter height value">
                </div>
                <div class="col-md-12" ng-if="SmartElem.packagingDimension.width">
                    <label for="pdwidth">width</label>
                    <input type="text" id="pdwidth" class="form-control" ng-model="catalogueProduct.smartElements.packagingDimension.width" placeholder="enter width value">
                </div>
                <div class="col-md-12" ng-if="SmartElem.packagingDimension.length">
                    <label for="pdlength">Length</label>
                    <input type="text" id="pdlength" class="form-control" ng-model="catalogueProduct.smartElements.packagingDimension.length" placeholder="enter length value">
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 35px;">
                <select class="form-control" id="pdunits" ng-options="variant for variant in SmartElem.packagingDimension.units"
                ng-model="catalogueProduct.smartElements.packagingDimension.unit" ng-init="catalogueProduct.smartElements.packagingDimension.unit = catalogueProduct.smartElements.packagingDimension.unit || SmartElem.packagingDimension.units[0]" ng-change="dummy()">
                </select>
            </div>
        </div>

        <!--Mrp and price per unit -->
        <div class="row form-group">
            <div class="col-md-6">
                <label for="mrp">MRP <!-- <span class="text-danger ml3">*</span> --> </label>
                <input type="text" id="mrp" name="mrp"
                    ng-model="catalogueProduct.mrp" 
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    class="form-control" placeholder="Maximum Retail Price">
                <span class="text-danger" ng-if="productForm.mrp.$invalid">Only numbers are allowed</span>
            </div>

            <div class="col-md-6">
                <label for="priceUnit">Selling Price <span class="text-danger ml3">*</span></label>
                <input type="text" id="priceUnit" name="priceUnit"
                    class="form-control" placeholder="Selling price per unit" 
                    ng-model="catalogueProduct.pricePerUnit" 
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    required>
                <span class="text-danger" ng-if="productForm.priceUnit.$invalid">Only numbers are allowed</span>
            </div>
        </div>

        <div ng-if="catalogueProduct.variant.isBulkOrder">
            <div class="row col-md-12">
                <label for="color">Shipping cost</label>
                <input type="text" id="shippingCost" class="form-control" ng-model="catalogueProduct.shippingCost" placeholder="Shipping cost">
            </div>
            <div class="row col-md-12 mt10">
                <label for="color">Shipping terms</label>
                <textarea id="shippingTerms" class="form-control" ng-model="catalogueProduct.shippingTerms" placeholder="shipping terms"></textarea>
            </div>
            <div class="row col-md-12 mt10">
                <label for="color">Handling cost</label>
                <input type="text" id="handlingCost" class="form-control" ng-model="catalogueProduct.handlingCost" placeholder="Handling cost">
            </div>
            <div class="row col-md-12 mt10">
                <label for="color">Handling terms</label>
                <textarea id="handlingTerms" class="form-control" ng-model="catalogueProduct.handlingTerms" placeholder="Handling terms"></textarea>
            </div>           
            
            <div class="row col-md-12 mt10">
                <label for="color">Packaging cost</label>
                <input type="text" id="packagingCost" class="form-control" ng-model="catalogueProduct.packagingCost" placeholder="Packaging cost">
            </div>
            <div class="row col-md-12 mt10">
                <label for="color">Packaging terms</label>
                <textarea id="packagingTerms" class="form-control" ng-model="catalogueProduct.packagingTerms" placeholder="Packaging terms"></textarea>
            </div>
        </div>

        <hr class="ml10 margin_right_10">
        <p style="margin-left: 16px; margin-top: -14px;">Shipping details</p>

        <!--Shipping weight details -->
        <div class="row form-group">
            <div class="col-md-3 pl15">
                <label for="sWeight">Weight <!-- <span class="text-danger ml3">*</span> --> </label>
                <input type="text" id="sWeight" name="sWeight" 
                    ng-model="catalogueProduct.shippingDetails.shippingWeight.value" 
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    class="form-control" placeholder="Shipping weight">
                <span class="text-danger" ng-if="productForm.sWeight.$invalid">Only numbers are allowed</span>
            </div>

            <div class="col-md-1 pl0">
                <label for="sWeightUnit">&nbsp;</label>
                <select class="form-control" id="sWeightUnit"
                    ng-options="weight as weight for weight in shippingWeightUnits track by weight"
                    ng-model="catalogueProduct.shippingDetails.shippingWeight.unit"
                    ng-init="catalogueProduct.shippingDetails.shippingWeight.unit = catalogueProduct.shippingDetails.shippingWeight.unit || shippingWeightUnits[0]">
                </select>
            </div>
        </div>

        <!--Shipping dimensions details -->
        <div class="row form-group">
            <div class="col-md-3 pl15">
                <label for="sHeight">Dimensions <!-- <span class="text-danger ml3">*</span> --> </label>
                <input type="text" id="sHeight" name="sHeight"
                    ng-model="catalogueProduct.shippingDetails.shippingDimension.height" 
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    class="form-control" placeholder="Shipping height">
                <span class="text-danger" ng-if="productForm.sHeight.$invalid">Only numbers are allowed</span>
            </div>

            <div class="col-md-3">
                <label for="sWidth">&nbsp; <!-- <span class="text-danger ml3">*</span> --> </label>
                <input type="text" id="sWidth" name="sWidth" 
                    ng-model="catalogueProduct.shippingDetails.shippingDimension.width" 
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    class="form-control" placeholder="Shipping width">
                <span class="text-danger" ng-if="productForm.sWidth.$invalid">Only numbers are allowed</span>
            </div>

            <div class="col-md-3">
                <label for="sLength">&nbsp; <!-- <span class="text-danger ml3">*</span> --> </label>
                <input type="text" id="sLength" name="sLength" 
                    ng-model="catalogueProduct.shippingDetails.shippingDimension.length" 
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    class="form-control" placeholder="Shipping length">
                <span class="text-danger" ng-if="productForm.sLength.$invalid">Only numbers are allowed</span>
            </div>

            <div class="col-md-1 pl0">
                <label for="sWeightUnit">&nbsp;</label>
                <select class="form-control" id="sWeightUnit"
                    ng-options="unit as unit for unit in shippingDimensionUnits track by unit"
                    ng-model="catalogueProduct.shippingDetails.shippingDimension.unit"
                    ng-init="catalogueProduct.shippingDetails.shippingDimension.unit = catalogueProduct.shippingDetails.shippingDimension.unit || shippingDimensionUnits[0]">
                </select>
            </div>
        </div>
        

        <!-- Product images -->
        <div class="mb15 mt20">
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="productImages">
                        <span>Images</span>
                        <a class="cursor" ng-click="uploadProductsImage();">Add images</a>
                    </label>
                </div>
            </div>    
            <div class="row">
                <div class="col-md-12">
                    <div class="chip-image-wrapper" ng-repeat="image in catalogueProduct.attachments.attachments">
                        <div class="chip-image" ng-if="image.msgType === 'IMAGE'">
                            <img class="cursor select-zone" ng-click="openImageFullview(catalogueProduct.attachments.attachments);" ng-src="{{image.url}}" title="{{image.context}}" alt="{{image.context}}">
                            <button type="button" class="dismiss btn" ng-click="removeUploadedProductAttachments($index)"><span class="hide-element md md-clear"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt25 text-right" ng-if="stage != 'review'">
            <button type="submit" class="btn btn-success btn-sm" ng-disabled="!productForm.$valid">Save details</button>
            <button type="button" ng-if="catalogueProduct.isForReview && catalogueProduct.isReviewAccepted && !catalogueProduct.isPublished" class="btn btn-primary btn-sm" ng-click="publishCatalogueProduct()">Publish</button>
            <button type="button" ng-if="catalogueProduct.isForReview && catalogueProduct.isReviewAccepted && catalogueProduct.isPublished" class="btn btn-primary btn-sm" ng-click="unPublishCatalogueProduct()">Un Publish</button>
        </div>
        <div class="mt25 text-right" ng-if="stage == 'review'">
            <button type="button" class="btn btn-success btn-sm" ng-click="reviewAccept()">Accept</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="reviewReject()">Reject</button>
        </div>
    </div>
</form>
